Repository andrewthetechie/route53-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml

.pre-commit-config.yaml:

exclude: ^(examples|tests)
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: "v0.0.252"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

fix: update dev depdendencies
  poetry.lock
  pyproject.toml
Due: check-toml

ci: get a crud create test passing
  poetry.lock
  pyproject.toml
  src/route53_operator/crud/_base.py
  src/route53_operator/crud/a.py
  src/route53_operator/crud/cname.py
  src/route53_operator/crud/txt.py
  src/route53_operator/exceptions/__init__.py
  src/route53_operator/lib/config.py
  src/route53_operator/schemas/_base.py
  tests/conftest.py
  tests/unit/test_crud.py
Due: bandit, check-toml

Unit test crud (#63)
  .pre-commit-config.yaml
  bandit.yml
  poetry.lock
  pyproject.toml
  src/route53_operator/__main__.py
  src/route53_operator/crud/_base.py
  src/route53_operator/crud/a.py
  src/route53_operator/crud/cname.py
  src/route53_operator/crud/txt.py
  src/route53_operator/exceptions/__init__.py
  src/route53_operator/lib/config.py
  src/route53_operator/schemas/_base.py
  tests/_helpers.py
  tests/conftest.py
  tests/mock_server.py
  tests/moto_server.py
  tests/unit/__init__.py
  tests/unit/test_crd.py
  tests/unit/test_crud.py
  tests/unit/test_schemas.py
Due: bandit, check-toml, check-yaml

chore: poetry 1.4
  constraints.txt
  poetry.lock
Due: none

chore: poetry 1.4 (#66)
  constraints.txt
  poetry.lock
Due: none

chore(main): release 0.1.0
  CHANGELOG.md
Due: none
